.footer-component {
    background-color: #5B9D7D;
    display: flex;
    justify-content: center; /* Centers footer content horizontally */
    flex-direction: column;  /* Stack items vertically */
    align-items: center;     /* Center all children horizontally */
    width: 100%;
    position: relative;
    padding: 3em 0;
    color: white;
    gap: 2em;
    flex-wrap: wrap;
}

.footer-info {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: white;
    position: relative;  /* Ensures the border appears below */
    display: inline-block;  /* Makes sure the border adjusts to content width */
    border-bottom: 4px solid #F1BF42;  /* Yellow border */
    padding-bottom: 0.5em; /* Adds space above the yellow border */
}

/* Adding a bottom border with custom width */
.footer-info::after {
    content: "";  /* Empty content for pseudo-element */
    display: block;
    width: 75%;  /* Makes the border span the full width of the h4 content */
    height: 4px;  /* Border thickness */
    background: linear-gradient(90deg, #6EAEE0, #5B9D7D); /* Blue-green gradient */
    position: absolute;
    bottom: -14px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;      /* Center text inside each content block */
    text-align: center;       /* Center text */
}

.footer-map {
    min-width: 30%;
    max-width: 30%;
    border-radius: 10px;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;      /* Center map and text */
    text-align: center;       /* Center headings */
}

.footer-map h4, .footer-map h6 {
    margin: 0 auto;
}

.footer-map h4 {
    font-weight: 700;
}

.footer-map h6 {
    font-size: 16px;
    font-weight: 600;
}

.footer-contact {
    text-align: center;         
}

.footer-contact p {
    margin-bottom: 1.5em;
}

.footer-contact a {
    background-color: #2D9CDB; 
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 25px;       
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.footer-contact a:hover {
    background-color: #F1BF42;  
    color: black;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}


/* Responsive adjustments */
@media (max-width: 1024px) {
    .footer-content {
        align-items: center;
        text-align: center;
    }

    .footer-map {
        max-width: 50%;
        min-width: 50%;
        padding-right: 1rem;
    }
}

@media (max-width: 768px) {
    .footer-map {
        max-width: 90%;
        min-width: 90%;
        padding: 1em 0;
    }
}
