.carousel-container {
    overflow: hidden;
}
  
.carousel-track {
    display: flex;
}
  
.carousel-item {
    flex: 0 0 18vw;
    aspect-ratio: 1 / 1;
    margin-right: 3vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
  
/* Content Styling */
.carousel-content {
    background-color: #6EAEE0;
    margin: 2vh 0;
}
  
.carousel-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}
  
.carousel-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carousel-content h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

.carousel-content p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #F1BF42;
    max-width: 700px;
}

#smiles-carousel {
    margin-top: 0;
}

/* Reuse the hero button style */
.carousel-cta-button {
    background-color: #F1BF42;
    color: #000;
    font-weight: 700;
    border: none;
    padding: 2rem 2rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin-top: 1.5rem;
    align-self: center;
}

.carousel-cta-button:hover {
    background-color: #2D9CDB;
    color: white;
}
  
/* Responsive */
@media (max-width: 2048px) {
    .carousel-item {
        flex: 0 0 20vw;
        width: 20vw;  /* Slightly bigger than 10vw for large screens */
    }
}

@media (max-width: 1024px) {
    .carousel-item {
        flex: 0 0 25vw;
        width: 25vw;  /* Increase from 20vw to 25vw for tablets */
    }

    .carousel-content h2 {
        font-size: 1.6rem;
    }

    .carousel-content p {
        font-size: 1.3rem;
    }

    .carousel-cta-button {
        padding: 1.5rem 1.5rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 40vw;
        width: 40vw;  /* Increase from 30vw to 40vw for phones */
    }

    .carousel-content h2 {
        font-size: 1.4rem;
    }

    .carousel-content p {
        font-size: 1.1rem;
    }
    
    .carousel-cta-button {
        padding: 1em 1rem;
        font-size: 1.2rem;
    }
}
